{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static "styles/main.css" %}"> -->
    <link rel="stylesheet" href="../static/styles/main.css">
    <title>MyLinkCO</title>
</head>
<body class="main-body">
    <div class="container">

        <div class="modal-wrapper">
            <div class="modal">
                <div class="modal-logo">
                    <img class="modal-img" src="{% static "images/logo2.svg" %}" alt="">
                </div>
                <form class="modal-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="add-text-modal">Add a photo</div>
                    <label for="modalImage">
                        <input type="file" name="modalImage" id="modalImage" accept="image/*">
                    </label>
                    <p>Nickname</p>
                    <input style="margin-bottom: 12px;" type="text" placeholder="@instagram, Telegram" required id="newUserName" name="newUserName" maxlength="12">
                    <p class="validateUserName" style="font-size: 12px; color: red; line-height: 14px; text-transform: none;">This field is required and name should contains only letters A-Z/a-z, numbers and symbols "_ - ."</p>
                    <p>Comment</p>
                    <input type="text" placeholder="Optional" name="newProductDescription" id="newProductDescription">
                    <div class="price-box-2">
                        <input type="number" placeholder="0" required name="newPrice" id="newPrice" min="{{ min_price }}">
                    <div class="currency">
                        {{ product.value }}
                    </div>
                    </div>
                    <button class="addBidButton" type="submit">done</button>
                </form>
            </div>
        </div>

        <div class="ID" hidden>{{ product.uuid }}</div>
        <header class="header">
            <div class="header-logo">
                <img src="{% static 'images/logo.svg' %}">
            </div>
            <form action="/product/new/">
                <button class="header-button">Add a product</button>
            </form>
        </header>
        <main class="main">
            {% if is_closed %}
                <h1>Trading is closed</h1>
                    {% if product.comments.exists %}
                        <p>Maximal bid owner: <span>{{ product.comments.last.name }}</span></p>
                        <p>Maximal bid: <span>{{ product.comments.last.price }}</span></p>
                    {% else %}
                        <p>There were no bids</p>
                    {% endif %}
            {% else %}
                <div class="trading-end">Trading will be closed on: {{ product.closed_at }} (by time in San Francisco)</div>
            {% endif %}
            <div class="product-image-box">
                <img src="/photos/{{product.image}}" alt="image_product">
            </div>
            <div class="product-name">{{ product.title }}</div>
            <div class="copy-button">
                <img src="{% static 'images/copylink.svg' %}">
            </div>
            <div class="product-sale">
                <div class="sailer-name">Seller: {{ product.author }}</div>
                <div class="min-price">Start: {{ product.start_price }}</div>
                <div class="current-price">Now: {{ product.min_price }}</div>

            </div>
            <div class="product-description">
                {{ product.text }}
            </div>
            {% if not is_closed %}
                <div class="dobid">do bid</div>
            {% endif %}
            <div class="bids-head">bids</div>

            <div class="bids"></div>
            <div class="show-more">Show more</div>

        </main>
        <footer class="footer">
            <div class="contact-head">Contact us</div>
            <div class="contacts-mail">
                <img src="{% static 'images/mail-icon.svg' %}">
                <a>mylinkco.contact@gmail.com</a>
            </div>
            <div class="contacts-inst">
                <img src="{% static 'images/inst-icon.svg' %}">
                <a>@my.linkco</a>
            </div>
            <div class="support-head">Support our project</div>
            <div class="support-zelle">Zelle:</div>
            <div class="support-tinkoff">Tinkoff:</div>
        </footer>
    </div>
    <!-- <script src="{% static 'index.js' %}"></script> -->
    <script src="../static/index.js"></script>
</body>
</html>