<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../staticfiles/styles/main.css">
    <title>MyLinkCO</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-logo">
                <img src="../staticfiles/images/logo.svg">
            </div>
            <div class="header-button">add a product</div>
        </header>
        <main class="main">
            <div class="product-image-box">
                <img src="../staticfiles/images/product-example.png">
            </div>
            <div class="product-name">iphone 13 pro max</div>
            <div class="copy-button">
                <img src="../staticfiles/images/copylink.svg">
            </div>
            <div class="product-sale">
                <div class="sailer-name">Seller: @vasiliy</div>
                <div class="min-price">min: $1000</div>
            </div>
            <div class="product-description">
                I will sell iPhone 13 pro max. Sky blue color, 128 GB. The phone was bought in 2022, in good condition.
            </div>
            <div class="dobid">do bid</div>
            <div class="bids-head">bids</div>

            <div class="bid-container-1">
                <div class="bid-template-1">
                    <div class="user-box-1">
                        <div class="box-1">
                            <div class="user-image"></div>
                            <div class="user-name-1">@Name1</div>
                        </div>
                        <div class="user-bid">1000$</div>
                    </div>
                    <div class="user-message-1">
                        text text text
                    </div>
                </div>
            </div>
            <div class="bid-container-2">
                <div class="bid-template-2">
                    <div class="user-box-2">
                        <div class="box-2">
                            <div class="user-image"></div>
                            <div class="user-name-2">@Name1</div>
                        </div>
                        <div class="user-bid">1000$</div>
                    </div>
                    <div class="user-message-2">
                        text text text
                    </div>
                </div>
            </div>

        </main>
        <footer class="footer">
            <div class="contact-head">Contact us</div>
            <div class="contacts-mail">
                <img src="../staticfiles/images/mail-icon.svg">
                <a>mylinkco.contact@gmail.com</a>
            </div>
            <div class="contacts-inst">
                <img src="../staticfiles/images/inst-icon.svg">
                <a>@my.linkco</a>
            </div>
            <div class="support-head">Support our project</div>
            <div class="support-zelle">Zelle:</div>
            <div class="support-tinkoff">Tinkoff:</div>
        </footer>
    </div>
    <script src="../staticfiles/index.js"></script>
</body>
</html>