<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/staticfiles/styles/main.css">
    <title>MyLinkCO</title>
</head>
<body class="main-body">
    <div class="modal-wrapper">
        <div class="modal">
            <div class="modal-logo">
                <img class="modal-img" src="../staticfiles/images/logo2.svg" alt="">
            </div>
            <form class="modal-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="add-text-modal">Add a photo</div>
                <label for="modalImage">
                    <input type="file" name="modalImage" id="modalImage">
                </label>
                <p>Nickname</p>
                <input type="text" placeholder="@instagram, Telegram" required id="newUserName" name="newUserName">
                <p>Comment</p>
                <input type="text" placeholder="Optional" name="newProductDescription" id="newProductDescription">
                <div class="price-box-2">
                    <input type="number" placeholder="0" required name="newPrice">
                    <div class="arrow"></div>
                    <select name="newPriceValue" id="newPriceValue">
                        <option value="USD" selected>$ USD</option>
                        <option value="EUR">€ EUR</option>
                        <option value="RUB">₽ RUB</option>
                    </select>
                </div>
                <button type="submit">done</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="ID" hidden>{{ product.uuid }}</div>
        <header class="header">
            <div class="header-logo">
                <img src="/staticfiles/images/logo.svg">
            </div>
            <form action="/product/new/">
                <button class="header-button">Add a product</button>
            </form>
        </header>
        <main class="main">
            <div class="trading-end">Trading will be closed on <span></span></div>
            <div class="product-image-box">
                <img src="/{{ product.image }}" alt="image_product">
            </div>
            <div class="product-name">{{ product.title }}</div>
            <div class="copy-button">
                <img src="/staticfiles/images/copylink.svg">
            </div>
            <div class="product-sale">
                <div class="sailer-name">Seller: {{ product.author }}</div>
                <div class="min-price">min: {{ product.min_price }}</div>
            </div>
            <div class="product-description">
                {{ product.text }}
            </div>
            <div class="dobid">do bid</div>
            <div class="bids-head">bids</div>

            <div class="bids"></div>
            <div class="show-more">Show more</div>

        </main>
        <footer class="footer">
            <div class="contact-head">Contact us</div>
            <div class="contacts-mail">
                <img src="/staticfiles/images/mail-icon.svg">
                <a>mylinkco.contact@gmail.com</a>
            </div>
            <div class="contacts-inst">
                <img src="/staticfiles/images/inst-icon.svg">
                <a>@my.linkco</a>
            </div>
            <div class="support-head">Support our project</div>
            <div class="support-zelle">Zelle:</div>
            <div class="support-tinkoff">Tinkoff:</div>
        </footer>
    </div>
    <script src="/staticfiles/index.js"></script>
</body>
</html>