<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/staticfiles/styles/main.css">
    <title>MyLinkCO</title>
</head>
<body class="add-body">
    <div class="l-container">
        <header class="l-header">
            <div class="l-header-logo">
                <img src="/staticfiles/images/logo.svg">
            </div>
        </header>
        <div class="l-main">
            <form class="add-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Nickname</p>
                <input type="text" placeholder="@instagram, Telegram" required name="userName" id="userName">
                <p>Title</p>
                <input type="text" placeholder="What you're selling" required name="productName" id="productName">
                <label for="imageFile" class="addLabel">
                    <input type="file" id="imageFile" name="imageFile">
                </label>
                <p>Description</p>
                <input type="text" placeholder="Optional" name="productDescription" id="description">
                <div class="price-box">
                    <div class="add-text">Add a photo</div>
                    <p>Min price</p>
                    <input type="number" placeholder="0" min="0" name="minimalPrice" id="minimalPrice">
                    <div class="arrow"></div>
                    <select name="priceValue" id="priceValue">
                        <option value="USD" selected>$ USD</option>
                        <option value="EUR">€ EUR</option>
                        <option value="RUB">₽ RUB</option>
                    </select>
                </div>
                <button type="submit">done</button>
            </form>
        </div>
        <footer class="footer">
            <div class="contact-head">Contact us</div>
            <div class="contacts-mail">
                <img src="/staticfiles/images/mail-icon.svg">
                <a>mylinkco.contact@gmail.com</a>
            </div>
            <div class="contacts-inst">
                <img src="/staticfiles/images/inst-icon.svg">
                <a>@my.linkco</a>
            </div>
            <div class="support-head">Support our project</div>
            <div class="support-zelle">Zelle:</div>
            <div class="support-tinkoff">Tinkoff:</div>
        </footer>
    </div>
    <script src="/staticfiles/index.js"></script>
</body>