body {
  margin: 0;
  background: #CBC8EC;
}
body * {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body .container {
  min-width: 320px;
  max-width: 576px;
  margin: 0 auto;
  background: #CBC8EC;
  overflow: hidden;
}
body .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #151212;
  border-left: 1px solid #151212;
  border-right: 1px solid #151212;
  border-radius: 0px 0px 24px 24px;
  margin-bottom: 50px;
  padding: 20px 10px;
  width: 100%;
}
body .container .header .header-logo {
  transform: scale(85%);
}
body .container .header .header-button {
  cursor: pointer;
  padding: 7px;
  width: fit-content;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #151212;
  text-transform: uppercase;
  background: #E2E2E2;
  border: 2px solid #151212;
  box-shadow: 5px 5px 0px 1px #151212;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
body .container .header .header-button-active {
  box-shadow: 0px 0px 0px 1px #151212;
  transition: all 0.3s ease-in-out;
  transform: translateX(4px) translateY(4px);
}
body .container .main {
  width: 100%;
}
body .container .main .trading-end {
  margin: 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
}
body .container .main .trading-end span {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
}
body .container .main .show-more {
  padding: 12px 35px;
  border: 2px solid #151212;
  width: fit-content;
  margin: 30px auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: none;
}
body .container .main .product-image-box {
  width: 100%;
}
body .container .main .product-image-box img {
  width: 100%;
  object-fit: cover;
}
body .container .main .product-name {
  margin: 20px auto 0 20px;
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 115%;
  text-transform: uppercase;
}
body .container .main .copy-button {
  margin-left: 20px;
}
body .container .main .product-sale {
  margin: 20px auto 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body .container .main .product-sale .sailer-name {
  border: 3px solid #151212;
  box-shadow: -1px -2px 0px 1px #151212;
  border-radius: 20px;
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
body .container .main .product-sale .min-price {
  margin-top: 16px;
  border: 3px solid #151212;
  box-shadow: -1px -2px 0px 1px #151212;
  border-radius: 20px;
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
body .container .main .product-sale .current-price {
  margin-top: 16px;
  border: 3px solid #151212;
  box-shadow: -1px -2px 0px 1px #151212;
  border-radius: 20px;
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
body .container .main .product-description {
  width: calc(100% - 40px);
  margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}
body .container .main .dobid {
  cursor: pointer;
  background: #98F205;
  border: 2px solid #151212;
  box-shadow: 11px 8px 0px 1px #151212;
  border-radius: 8px;
  width: 90%;
  text-align: center;
  padding: 14px;
  margin: 30px auto;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
}
body .container .main .dobidactive {
  box-shadow: 0px 0px 0px 1px #151212;
  transition: all 0.3s ease-in-out;
  transform: translateX(8px) translateY(5px);
}
body .container .main .bids-head {
  margin-top: 70px;
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
  margin-left: 20px;
  color: #151212;
  text-transform: uppercase;
}
body .container .main .bid-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
body .container .main .bid-container-1 .bid-template-1 {
  margin-top: 30px;
  margin-left: 20px;
  background: #E2E2E2;
  border: 2px solid #151212;
  box-shadow: -5px -5px 0px 1px #151212;
  border-radius: 20px;
  padding: 10px;
  min-width: 270px;
}
@media (min-width: 400px) and (max-width: 460px) {
  body .container .main .bid-container-1 .bid-template-1 {
    width: 330px;
  }
}
@media (min-width: 460px) and (max-width: 2000px) {
  body .container .main .bid-container-1 .bid-template-1 {
    width: 420px;
  }
}
body .container .main .bid-container-1 .bid-template-1 .user-box-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .container .main .bid-container-1 .bid-template-1 .user-box-1 .box-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .container .main .bid-container-1 .bid-template-1 .user-box-1 .box-1 .user-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #151212;
  border-radius: 50%;
  overflow: hidden;
}
body .container .main .bid-container-1 .bid-template-1 .user-box-1 .box-1 .user-image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
body .container .main .bid-container-1 .bid-template-1 .user-box-1 .box-1 .user-name-1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-left: 10px;
}
body .container .main .bid-container-1 .bid-template-1 .user-box-1 .user-bid {
  background: #F20530;
  border: 2px solid #151212;
  border-radius: 10px;
  padding: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #E2E2E2;
}
body .container .main .bid-container-1 .bid-template-1 .user-message-1 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  height: fit-content;
  width: 95%;
  padding: 0 10px;
}
body .container .main .bid-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body .container .main .bid-container-2 .bid-template-2 {
  margin-top: 30px;
  margin-right: 20px;
  background: #E2E2E2;
  border: 2px solid #151212;
  box-shadow: 5px -5px 0px 1px #151212;
  border-radius: 20px;
  padding: 10px;
  min-width: 270px;
}
@media (min-width: 400px) and (max-width: 460px) {
  body .container .main .bid-container-2 .bid-template-2 {
    width: 330px;
  }
}
@media (min-width: 460px) and (max-width: 2000px) {
  body .container .main .bid-container-2 .bid-template-2 {
    width: 420px;
  }
}
body .container .main .bid-container-2 .bid-template-2 .user-box-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
body .container .main .bid-container-2 .bid-template-2 .user-box-2 .box-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
body .container .main .bid-container-2 .bid-template-2 .user-box-2 .box-2 .user-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #151212;
  border-radius: 50%;
  overflow: hidden;
}
body .container .main .bid-container-2 .bid-template-2 .user-box-2 .box-2 .user-image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
body .container .main .bid-container-2 .bid-template-2 .user-box-2 .box-2 .user-name-2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-right: 10px;
  text-align: right;
}
body .container .main .bid-container-2 .bid-template-2 .user-box-2 .user-bid {
  background: #F20530;
  border: 2px solid #151212;
  border-radius: 10px;
  padding: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #E2E2E2;
}
body .container .main .bid-container-2 .bid-template-2 .user-message-2 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  height: fit-content;
  width: 95%;
  padding: 0 10px;
}
body .container .footer {
  padding-bottom: 20px;
}
body .container .footer .contact-head, body .container .footer .support-head {
  margin-top: 100px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin-left: 20px;
}
@media (min-width: 460px) and (max-width: 2000px) {
  body .container .footer .contact-head, body .container .footer .support-head {
    font-size: 26px;
    line-height: 30px;
  }
}
body .container .footer .contacts-mail {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .container .footer .contacts-mail a {
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #151212;
}
@media (min-width: 460px) and (max-width: 2000px) {
  body .container .footer .contacts-mail a {
    font-size: 22px;
    line-height: 24px;
  }
}
body .container .footer .contacts-inst {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .container .footer .contacts-inst a {
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #151212;
}
@media (min-width: 460px) and (max-width: 2000px) {
  body .container .footer .contacts-inst a {
    font-size: 22px;
    line-height: 24px;
  }
}
body .container .footer .support-zelle {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #151212;
}
@media (min-width: 460px) and (max-width: 2000px) {
  body .container .footer .support-zelle {
    font-size: 22px;
    line-height: 24px;
  }
}
body .container .footer .support-tinkoff {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #151212;
}
@media (min-width: 460px) and (max-width: 2000px) {
  body .container .footer .support-tinkoff {
    font-size: 22px;
    line-height: 24px;
  }
}

.l-container {
  min-width: 320px;
  max-width: 576px;
  margin: 0 auto;
  background: #CBC8EC;
  overflow: hidden;
}
.l-container .l-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #151212;
  border-left: 1px solid #151212;
  border-right: 1px solid #151212;
  border-radius: 0px 0px 24px 24px;
  margin-bottom: 50px;
  padding: 20px 10px;
  width: 100%;
}
.l-container .l-header-logo {
  transform: scale(155%);
  -webkit-transform: scale(155%);
  -moz-transform: scale(155%);
  -ms-transform: scale(155%);
  -o-transform: scale(155%);
}
.l-container .footer {
  padding-bottom: 20px;
}
.l-container .footer .contact-head, .l-container .footer .support-head {
  margin-top: 100px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin-left: 20px;
}
@media (min-width: 460px) and (max-width: 2000px) {
  .l-container .footer .contact-head, .l-container .footer .support-head {
    font-size: 26px;
    line-height: 30px;
  }
}
.l-container .footer .contacts-mail {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.l-container .footer .contacts-mail a {
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #151212;
}
@media (min-width: 460px) and (max-width: 2000px) {
  .l-container .footer .contacts-mail a {
    font-size: 22px;
    line-height: 24px;
  }
}
.l-container .footer .contacts-inst {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.l-container .footer .contacts-inst a {
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #151212;
}
@media (min-width: 460px) and (max-width: 2000px) {
  .l-container .footer .contacts-inst a {
    font-size: 22px;
    line-height: 24px;
  }
}
.l-container .footer .support-zelle {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #151212;
}
@media (min-width: 460px) and (max-width: 2000px) {
  .l-container .footer .support-zelle {
    font-size: 22px;
    line-height: 24px;
  }
}
.l-container .footer .support-tinkoff {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #151212;
}
@media (min-width: 460px) and (max-width: 2000px) {
  .l-container .footer .support-tinkoff {
    font-size: 22px;
    line-height: 24px;
  }
}

.l-main form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
}
.l-main form input {
  font-size: 22px;
  line-height: 22px;
  outline: none;
  width: 100%;
  padding: 15px;
  border: 2px solid #151212;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 24px;
}
.l-main form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(21, 18, 18, 0.5);
}
.l-main form p {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.l-main form #imageFile {
  display: none;
}
.l-main form label[for=imageFile] {
  content: "";
  width: 100%;
  height: 300px;
  display: block;
  background-image: url(../images/bg-plus.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid #151212;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-bottom: 20px;
}
.l-main .price-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.l-main .price-box .add-text {
  position: absolute;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  top: -170px;
  right: 0;
  text-align: center;
}
.l-main .price-box p {
  max-width: 40%;
  margin: 0;
}
.l-main .price-box input {
  padding: 15px;
  width: 95px;
  display: block;
  margin: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 5px;
}
@media (min-width: 450px) and (max-width: 2000px) {
  .l-main .price-box input {
    width: 130px;
  }
}
.l-main .price-box input::placeholder {
  font-size: 22px;
}
.l-main .price-box .arrow {
  position: absolute;
  right: 3px;
  top: 12px;
  height: 30px;
  width: 20px;
  background: white;
  z-index: 10;
}
.l-main .price-box select {
  padding: 15px 5px;
  width: 95px;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  border: 2px solid #151212;
}
.l-main button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
  padding: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #151212;
  text-transform: uppercase;
  background: #98F205;
  border: 2px solid #151212;
  box-shadow: 5px 5px 0px 1px #151212;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.modal-wrapper {
  overflow: scroll;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(21, 18, 18, 0.9);
  z-index: 2;
  display: none;
}

.warning-text {
  margin: 50px auto;
  color: #151212;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.modal {
  margin: 50px auto;
  width: 320px;
  height: fit-content;
  border: 2px solid #151212;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #CBC8EC;
}
@media (min-width: 400px) and (max-width: 449px) {
  .modal {
    width: 380px;
  }
}
@media (min-width: 450px) and (max-width: 2000px) {
  .modal {
    width: 450px;
  }
}
.modal .modal-logo {
  margin-left: 20px;
  width: 50px;
}
.modal .modal-form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.modal .modal-form .add-text-modal {
  position: absolute;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  top: 350px;
  right: 0;
  text-align: center;
}
.modal .modal-form input {
  font-size: 22px;
  line-height: 22px;
  outline: none;
  width: 100%;
  padding: 15px;
  border: 2px solid #151212;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 24px;
}
.modal .modal-form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(21, 18, 18, 0.5);
}
.modal .modal-form p {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.modal .modal-form #modalImage {
  display: none;
}
.modal .modal-form label[for=modalImage] {
  content: "";
  width: 300px;
  height: 300px;
  display: block;
  background-image: url(../images/bg-plus.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #151212;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 20px;
}
.modal .modal-form .price-box-2 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal .modal-form .price-box-2 input {
  padding: 15px;
  width: 60%;
  display: block;
  margin: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 5px;
}
.modal .modal-form .price-box-2 input::placeholder {
  font-size: 22px;
}
.modal .modal-form .price-box-2 .currency {
  padding: 15px 5px;
  width: 95px;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  text-align: center;
  border: 2px solid #151212;
  background: white;
}
.modal .modal-form button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
  padding: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #151212;
  text-transform: uppercase;
  background: #98F205;
  border: 2px solid #151212;
  box-shadow: 5px 5px 0px 1px #151212;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.trade-closed .container {
  min-width: 320px;
  max-width: 576px;
  margin: 0 auto;
  background: #CBC8EC;
  overflow: hidden;
}
.trade-closed .container h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
}
.trade-closed .container p {
  margin-top: 16px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.trade-closed .container p span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.response-wrapper {
  padding: 16px 24px;
  width: fit-content;
  height: fit-content;
  border: 2px solid #151212;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  color: #151212;
}

/*# sourceMappingURL=main.css.map */
